<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>WP Exam</title>
</head>
<body>

<div>
    <!-- The form below should invoke the method MenuController.showMenus -->
    <form id="filter-form" th:method="GET" action="/" >

        <label for="nameSearch">Restaurant Name</label>
        <input id="nameSearch" type="text" name="nameSearch"/>
        <select id="menuType" name="menuType">
            <option value="">All</option>
            <!-- For each menu type you should have one <option> like below  -->
            <option th:each="type :${menuTypes}" th:value="${type.name()}" th:text="${type.name()}"></option>
        </select>
        <button id="filter" type="submit">Filter</button>
    </form>
    <div>
        <!-- MenuController.showAdd -->
        <a sec:authorize="hasRole('ROLE_ADMIN')" href="/menu/add" class="add-item" >
            Add new menu
        </a>
    </div>
    <table>
        <tr>
            <th>Restaurant name</th>
            <th>Menu Type</th>
            <th>Menu Items</th>
            <th>Actions</th>
        </tr>
        <!-- For each menu you should have one <tr> like below -->
        <tr class="item" th:each="menu:${menus}">
            <td th:text="${menu.restaurantName}"></td>
            <td th:text="${menu.menuType.name()}"></td>
            <td>
                <ul>
                    <!-- For each menu's item you should display one <li> element like the one below -->
                    <li th:each="items:${menu.menuItems}" th:text="${items.name}"></li>
                </ul>
            </td>
            <td>
                <!-- MenuController.delete -->
                <form th:method="POST" th:action="@{'/menu/{id}/delete' (id=${menu.getId()})}">
                    <button sec:authorize="hasRole('ROLE_ADMIN')" type="submit" class="delete-item"  >Delete</button>
                </form>
                <!-- MenuController.showEdit -->
                <a sec:authorize="hasRole('ROLE_ADMIN')" th:href="@{'/menu/{id}/edit' (id=${menu.getId()})}" class="edit-item">Edit</a>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
