<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Welcome and Choose a Course</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Courses List</h1>
</header>
<br>
<div th:if="hasError">
    <h3 style="color: red" th:text="${error}"></h3>
</div>

    <h2>Choose course:</h2>
</br>
    <form th:method="GET" th:action="@{'/courses/add-form'}">
        <input value="add course" type="submit"/>
    </form>

<div class="container mb-4">
    <div class="row">
        <div  class="col-12" th:if="${courses.size() > 0}">

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <td><h3>Course</h3></td>
                        <td><h3>Teacher</h3></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="course : ${courses}">
                        <td><input form="jas" type="radio" name="course" th:text="${course.getName()}" th:value="${course.getCourseId()}"> </td>
                        <td>
                            <th:block th:text="${course.getTeacher() != null} ? ${course.getTeacher().getName() + ' ' + course.getTeacher().getSurname()} : 'No teacher'"></th:block>
                        </td>
                        <td class="text-right">
                            <form th:action="@{'/courses/delete/{id}' (id=${course.getCourseId()})}" th:method="DELETE">
                                <button type="submit">Delete</button>
                            </form>
                        </td>
                        <td class="text-right">
                            <form th:action="@{'/courses/edit/{id}' (id=${course.getCourseId()})}" th:method="GET">
                                <button type="submit">Edit</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <form id="jas" th:action="@{'/courses'}" th:method="POST">
                <input value="submit" type="submit"/>
            </form>
        </div>
    </div>
</div>

    </br>

    <h1>Select student </h1>
    <form th:method="POST" th:action="@{/StudentCourses}">
        <li th:each="student: ${students}"><input type="radio" name="student" th:value="${student.username}"><th:block th:text="${student.name}"></th:block> <th:block th:text="${student.surname}"></th:block></li>
        </br>
        <input value="submit" type="submit"/>
    </form>
</body>
</html>