<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>WP lab - Students in Course</title>

</head>
<body>
<header>
    <h1>Select student </h1>
</header>
<section>
    <div th:text="${course.name}" ></div>
    <ul>
        <li th:each="student: ${students}" ><th:block th:text="${student.name}" ></th:block> <th:block th:text="${student.surname}" ></th:block> (<th:block th:text="${student.username}" ></th:block>)</li>
    </ul>
    <a href="/courses">Back</a>
</section>

</body>
</html>